* {
  box-sizing: border-box;
}

/* Mobile */
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 4.25vw;
  color: var(--color-copy);
}

/* Tablet */
@media screen and (min-width: 720px) {
  :root {
    font-size: 2.25vw;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  :root {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

header,
main,
footer {
  overflow-x: hidden;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
