* {
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--color-copy);
}

body {
  margin: 0;
}

header,
main,
footer {
  overflow-x: hidden;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
