.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact h3 {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1.5625rem;
}

.contact__info h3:nth-of-type(2) {
  margin-top: 3.75rem;
}

.contact__info,
.contact__form {
  padding: 4rem 0;
}

.contact__info i {
  font-size: 1.5rem;
  color: var(--color-primary);
}

.contact__info span {
  display: grid;
  grid-template-columns: 1.5rem auto;
  gap: 0.625rem;
  align-items: center;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.6875rem;
}

.contact__info__container,
.contact__form__container {
  width: 540px;
}

.contact__info__container {
  float: right;
  padding-right: 7.125rem;
}

.contact__form__container {
  padding-left: 7.125rem;
}

.contact__form {
  background-color: #000;
  color: #fff;
}

.contact__form label,
.contact__form input {
  display: block;
}

.contact__form label {
  font-weight: 700;
}

.contact__form input {
  width: 100%;
  margin-bottom: 1.875rem;
  padding: 0.5rem 0;
  background: unset;
  border: unset;
  border-bottom: 0.06rem solid #fff;
  color: #fff;
  font-size: 1.5rem;
}

.contact__form input:focus {
  outline: unset;
}

.contact__form button {
  float: right;
}

.maps,
.maps iframe {
  height: 36.5rem;
}
