.slider {
  background-color: #000;
  color: #fff;
}

.slider__prev-arrow,
.slider__next-arrow {
  width: 2.5rem;
  height: 2.5rem;
  border: 5px solid #fff;
  border-right: unset;
  border-bottom: unset;
  opacity: 0.9;
}

.slider__prev-arrow {
  z-index: 1;
  left: 1rem;
  transform: rotate(-45deg);
}

.slider__next-arrow {
  right: 1rem;
  transform: rotate(135deg);
}

.slider__prev-arrow::before,
.slider__next-arrow::before {
  content: "";
}

.slick-arrow {
  visibility: hidden;
}

@media screen and (min-width: 1280px) {
  .slick-arrow {
    visibility: visible;
  }
}

.slide {
  position: relative;
  height: 90vh;
}

.slide__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Mobile */
.slide__copy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: grid;
  align-items: center;
  text-align: center;
}

.slide__copy span {
  display: block;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .slide__copy {
    padding-left: 50vw;
    text-align: unset;
  }

  .slide__copy span {
    display: inline;
  }
}

.slide__copy h6 {
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  margin: 0;
}

.slide__copy h2 {
  font-size: 3.25rem;
  text-transform: uppercase;
  line-height: 3.25rem;
}

@media screen and (min-width: 1280px) {
  .slide__copy h2 {
    font-size: 6.25rem;
    line-height: 6.25rem;
  }
}

.slide__copy h2 span {
  display: block;
}

.counter {
  background-color: var(--color-primary);
  color: #fff;
  text-transform: uppercase;
}

.counter__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  padding: 4.375rem 0;
}

.counter__container h3 {
  font-size: 2.1875rem;
}

.counter__container h3 small {
  display: block;
  font-size: 1.25rem;
}

/* Mobile */
.institutional {
  display: grid;
  grid-template-rows: auto auto;
  gap: 3.125rem;
  align-items: center;
  padding: 0 0 4.375rem 0;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .institutional {
    grid-template-columns: auto auto;
    padding: 4.375rem;
  }
}

.institutional__image {
  max-width: 100vw;
}

@media screen and (min-width: 1280px) {
  .institutional__image {
    max-width: 550px;
  }
}

.institutional__copy {
  padding: 0 1rem 1.875rem 1rem; /* mobile */
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .institutional__copy {
    padding: 0 1.875rem;
  }
}

.institutional__copy h6 {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0;
}

.institutional__copy h4 {
  font-size: 1.5625rem;
  margin-top: 1rem;
}

.institutional p {
  font-family: "Roboto", sans-serif;
  font-size: 1.0625rem;
  line-height: 1.6875rem;
  margin-bottom: 0;
  margin-bottom: 2.5rem;
}

.quote {
  background-image: url(../images/parallax.jpg);
  background-repeat: no-repeat;
  background-size: auto 40%;
  background-position: 40% top;
}

@media screen and (min-width: 720px) {
  .quote {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
}

.quote__container {
  display: grid;
  align-items: end;
  justify-items: end;
  min-height: 80vh;
}

@media screen and (min-width: 720px) {
  .quote__container {
    align-items: center;
  }
}

.quote__copy {
  background-color: #fff;
  padding: 1rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 1280px) {
  .quote__copy {
    padding: 5.625rem 4.375rem;
  }
}

.quote__copy h6 {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1875rem;
  line-height: 1.4375rem;
  max-width: 53ch;
  text-transform: uppercase;
  margin: 0;
}

.quote__copy h2 {
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
  letter-spacing: -0.1875rem;
  margin: 1.875rem 0;
}

.quote__copy h2 span {
  display: block;
}

@media screen and (min-width: 1280px) {
  .quote__copy h6 {
    font-size: 0.9375rem;
  }

  .quote__copy h2 {
    font-size: 5rem;
    line-height: 5rem;
  }
}
