.navbar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

.navbar__container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;

  width: 100vw;
  height: 7.75rem;
  padding: 0 1rem;
}

.navbar__links {
  display: none;
  justify-self: end;
}

@media screen and (min-width: 1280px) {
  .navbar__links {
    display: flex;
  }
}

.navbar__links.active {
  display: grid;
  place-items: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 3rem 2rem;

  background: #000e;
}

.navbar__links li {
  font-size: 1.75rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .navbar__links li {
    font-size: 0.875rem;
    margin-right: 3rem;
  }
}

.navbar__links a {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.navbar__links a.active {
  color: var(--color-primary);
}

.navbar__links a:hover {
  color: var(--color-primary);
}

.navbar__menu-btn {
  cursor: pointer;

  position: relative;
  z-index: 10;

  font-size: 2rem;
  width: fit-content;
  color: #fff;
  background: unset;
  border: unset;

  justify-self: end;
  align-self: start;
  margin-top: 2rem;
}

@media screen and (min-width: 1280px) {
  .navbar__menu-btn {
    display: none;
  }
}
